{% extends "layout.html" %}
{% block content %}
<div class="row mt-3">
	<div class=".col-4 mx-auto">
		<h1>Executives in the News</h1>
		<div>
			{% for n in data %}
			<div>{{n}}</div>
			{% endfor %}
		</div>
		<br>
	</div>
	<div class=".col-4 mx-auto">
		<h1>Companies</h1>
		<div>
			{% for n in cdata %}
			<div>{{n}}</div>
			{% endfor %}
		</div>
		<br>
	</div>
	<div class=".col-4 mx-auto">
		<h1>Universities</h1>
		<div>
			{% for n in udata %}
			<div>{{n}}</div>
			{% endfor %}
		</div>
	</div>
	</div>
	<div class="row mt-3">
		<form class="mx-auto" method="POST" action="/add">
		<p>Name of executive: <input type="text" name="name"> <input type="submit" disabled="disabled" value="Add"></p>
		</form>
	</div>
{% endblock content %}
