{% extends "layout.html" %}
{% block content %}
<div class="row mt-3">
	<div class=".col-4 mx-auto">
		<h1>Executives in the News</h1>
		<div class="card" style="width: 18rem;">
		  <ul class="list-group list-group-flush">
			{% for n in data %}
				<li class="list-group-item"><a class="noDecoration" href={{url_for('show_exec', eid=loop.index, query='No search entry')}}>{{n}}</a></li>
			{% endfor %}
			</ul>
		</div>
	</div>
	<div class=".col-4 mx-auto">
		<h1>Companies in the News</h1>
		<div class="card" style="width: 18rem;">
		  <ul class="list-group list-group-flush">
			{% for n in cdata %}
				<li class="list-group-item"><a href={{url_for('show_comp', cid=loop.index)}}>{{n}}</a></li>
			{% endfor %}
			</ul>
		</div>
	</div>
	<div class=".col-4 mx-auto">
		<h1>Universities of Executives</h1>
		<div class="card" style="width: 18rem;">
		  <ul class="list-group list-group-flush">
			{% for n in udata %}
				<li class="list-group-item"><a href={{url_for('show_uni', uid=loop.index)}}>{{n}}</a></li>
			{% endfor %}
			</ul>
		</div>
	</div>
	<div class="row mt-3">
		<form class="mx-auto" method="POST" action="/add">
		<p>Name of executive: <input type="text" name="name"> <input type="submit" disabled="disabled" value="Add"></p>
		</form>
	</div>
{% endblock content %}
